@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
.navbar {
  overflow: hidden;
  background-color: #ef233c;
  opacity: 0.7;
  top: 0; 
  width: 100%;
  height: 50px;
}

body {
  background-color:#edf2f4;
}
h1 {
  font-style: italic;
  font-size: 25px;
}

h1 {
  animation-duration: 5s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
  

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap:50px;
  margin-top: 75px;
  }

.grid :hover {
  border: 1px solid #8d99ae;
  background-color: #8d99ae;
  opacity: 0.9;
}

div.only {
  background-color:transparent;
  height: 370px;
  width: 300px;
  border: 05px solid #2b2d42;
  font-family: 'Hubballi', cursive;;
  text-align:justify;
  font-size: 20px;
  text-align:center;
}

.piedepagina {
  background-color: #ef233c;
  opacity: 0.7;
  font-family: 'Hubballi', cursive;;
  font-size: small;
  margin-top: 50px;
  text-align: right;
}
u {
  font-weight: bold;
}
 p{
   color:#bf656f;
 }
